
<%= render 'errors' %>

<%= form_with(model: @article, local: true) do |form| %>
  <p>
    <%=form.label :title%> <br />
    <%=form.text_field :title%>
  </p>

  <p>
    <%=form.label :body%>  <br />
    <%=form.text_area :body%>
  </p>
  <p>
    <%= form.submit%>
  </p>
<% end %>