<h1>All articles</h1>
<% @articles.each do |article|%>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header"><%=article.title%></div>
    <div class="card-body">
      <p class="card-text"><%=article.body%>.</p>
    </div>
    <div class="card-footer text-muted">
      <%=link_to 'Show ', article_path(article)%>
      <%=link_to 'Edit ', edit_article_path(article)%>
      <%=link_to 'Delete ', article_path(article), method: :delete, data: {confirm: 'Are you sure that you want to delete thsi article?'}%>
    </div>
  </div>
<%end%>
<%=link_to 'Create a new article ', new_article_path%>